@media (max-width: 576px) {
  .ant-layout {
    padding: 12px 8px;
  }

  .ant-layout-content {
    padding: 12px;
  }
}

@media (min-width: 576px) {
  .ant-layout {
    padding: 24px 16px;
  }

  .ant-layout-content {
    padding: 24px;
  }
}
